/* navbar */
.navbar-default{
  background-color: #ffffff;
}

#my-logo img{
  height: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #031B4E;
  font-size: 16px;
}

.navbar-nav>li>a {
    padding: 25px 10px;
}

.my-navbar-left{
  margin-left: 60px;
}

.navbar-toggle{
  color: #006aff;
  border: none;
  font-size: 20px;
  margin-top: 9px;
}

#sign-up a{
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 14px;
}
/* navbar */

/* jumbotron */
.jumbotron{
  background-image: url("../img/bg-sea.svg");
  padding-top: 125px;
  padding-bottom: 70px;
}

.jumbotron h1{
  color: #ffffff;
  font-size: 65px;
}

.jumbotron p{
  color: #89AAFF;
  font-size: 23px;
}

/* parte destra jumbo */
.date-personal{
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
}
.date-personal h2:first-child{
  color: #031B4E;
  text-align: center;
}

.date-personal h2:last-of-type{
  color: #006aff;
  text-align: center;
}

.credenziali input, button{
  width: 100%;
  margin-top: 1em;
}

.date-personal p{
  font-size: 15px;
  color: #031B4E;
  text-align: center;
}

#google-logo{
  height: 20px;
  text-align: left;
}
/* parte destra jumbo */


/* jumbotron */
@media all and (min-width: 993px)
  and (max-width: 1200px) {
  .my-navbar-left{
    margin-left: 30px;
  }
}

@media all and (max-width: 992px)
and (min-width: 768px){
  .navbar-nav{
    display: none;
  }

  .navbar-toggle{
    display: block;
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-header{
    width: 100%;
  }
}

@media all and (max-width: 992px){
  .jumbotron{
    background-image: url("../img/bg-sea.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 70px;
  }

  .jumbotron h1{
    color: #ffffff;
    font-size: 50px;
  }

  .jumbotron p{
    color: #89AAFF;
    font-size: 19px;
  }
}
